<div class="container" th:fragment="paymentSuccess">
    <div class="printer-top"></div>

    <div class="paper-container">
        <div class="printer-bottom"></div>

        <div class="paper">
            <div class="main-contents">
                <div class="success-icon">&#10004;</div>
                <div class="success-title">
                    Payment Complete
                </div>
                <div class="success-description">
                    Thank you for completing the payment! Your drink will arrive shortly.
                </div>
                <div class="order-details">
                    <div class="order-number-label">Transaction ID</div>
                    <div class="order-number"><span th:text="${id}"></span></div>
                    <div class="complement">Thank You!</div>
                </div>
            </div>
            <div class="jagged-edge"></div>
        </div>
    </div>
</div>