<div class="container mt-5" th:fragment="transactionsAdmin" xmlns="http://www.w3.org/1999/html">

    <div class="input-group mb-3">
        <input type="date" class="form-control" placeholder="Date Filter" id="searchInputDate">
        <input type="text" class="form-control" placeholder="Username filter" id="searchInputName">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>
        </div>
    </div>

    <div class="cartItems-items">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="transactionTable">
                <thead class="thead-dark">
                <tr>
                    <th>User</th>
                    <th>Purchase Date</th>
                    <th>Total Price</th>
                    <th>Payment Type</th>
                </tr>
                </thead>
                <tbody>
                <tr class="cart-item" th:each="transaction : ${transactions}">
                    <td><span th:text="${transaction.user.username}"></span></td>
                    <td><span th:text="${transaction.purchaseDate}"></span></td>
                    <td>$<span th:text="${transaction.finalPrice}"></span></td>
                    <td><span th:text="${transaction.type}">60</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
