.products-container{
    display: flex;
}

.products-container > div:first-child{
    width: 25%;
    background-color: red;
}

.products-container > div:nth-child(2){
    width: 75%;
}

body{
    overflow: hidden;
}

.no-border{
    border: none;
}